<h1 class="mt-4"><%= @arti.titulo %></h1>
         <hr>
          <p>Publicado el <%= @arti.fecha %></p>
         <hr>
         <img class="img-fluid rounded" src="<%= @arti.image %>" alt="">
          <hr>

          <!-- Post Content -->
          <%= @arti.contenido %>
          <!--  FIN  Post Content -->
          
          <hr>